<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Minimal Responsive Header &amp; CSS Animations #cpc-classic-header</title>
  <link rel="stylesheet" href="../css/ff.css">

</head>
<body>

<div class="about">
   <a class="bg_links social portfolio" href="theme.html" target="_blank">
      <span class="icon"></span>
   </a>
   <a class="bg_links social dribbble" href="tutorial.html" target="_blank">
      <span class="icon"></span>
   </a>
   <a class="bg_links social linkedin" href="leaderboard.html" target="_blank">
      <span class="icon"></span>
   </a>
   <a class="bg_links logo"></a>
</div>

<nav class="mainNav">
   <div class="mainNav__logo">
    <img src="../Path-Unknown-11-30-2023.png" alt="Path Unknown.">
</div>

   <div class="mainNav__links">
      <a href="" class="mainNav__link">Home</a>
      <a href="" class="mainNav__link">Tutorial</a>
      <a href="" class="mainNav__link">Play Game</a>
      <a href="" class="mainNav__link">Leaderboard</a>
      <a href="" class="mainNav__link">Credits</a>
   </div>

</nav>
<header class="mainHeading">
   <div class="mainHeading__content">
      <article class="mainHeading__text">
         <p class="mainHeading__preTitle">Path Unknown</p>
         <h2 class="mainHeading__title">Adventure the world</h2>
         <p class="mainHeading__description">
         <p>Path Unknown: Embark on a Globetrotting Adventure!<p> Strategize your way to the Uncharted final destination.</p>
         <p>Will You Reach Paradise or Soar into the Unknown?</p>
         <button class="cta">Play now</button>
      </article>

      <figure class="mainHeading__image">
         <img
            src="https://cdn.dribbble.com/users/398490/screenshots/2189858/media/a699a67c8dfe993c333a09af2ca46ebe.gif"
            alt=""
         />
      </figure>
   </div>
</header>

</body>
</html>
