<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base | Path:Unknown</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body class="mainHeading">
    <header>
        <nav class="mainNav">
            <div class="mainNav__links-container">
                <a href="/path.unknown/home" class="mainNav__link">Home</a>
                <a href="/path.unknown/tutorial" class="mainNav__link">Tutorial</a>
                <a href="/path.unknown/game" class='start-btn' style="font-family: 'Press Start 2p',sans-serif">Play</a>
                <a href="/path.unknown/leaderboard" class="mainNav__link">Leaderboard</a>
                <a href="/path.unknown/info" class="mainNav__link">Info</a>
            </div>
        </nav>
    </header>
    {% block content %}
        <!-- DO NOT PUT ANYTHING HERE -->
    {% endblock %}
</body>
</html>
