<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | Path:Unknown</title>
  <link rel="stylesheet" href="../static/css/home.css">
</head>
<body class="mainHeading">
    {% extends "base.html" %}
    {% block content %}
        <div class="Heading_logo">
            <img src="../static/img/Path-Unknown-11-30-2023.png">
        </div>
        <div class="mainHeading__content">
            <article class="mainHeading__text">
                <p class="mainHeading__preTitle">Path Unknown</p>
                <h2 class="mainHeading__title">Travel the world!</h2>
                <p class="mainHeading__description">
                <p>Embark on a Globetrotting Adventure!<p> Strategize your way to the Uncharted final destination.</p>
                <p>Will You Reach Paradise or Soar into the Unknown?</p>
                <button class="cta"
                onclick="window.location.href='/path.unknown/game';">Play now</button>
            </article>
            <figure class="mainHeading__image">
                <img src="https://www.transportenvironment.org/annual-report-2018/images/plane-left.gif"
                     alt=""/>
            </figure>
        </div>
    {% endblock %}
</body>
</html>
