<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info | Path:Unknown</title>
  <link rel="stylesheet" href="../static/css/info.css">
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
        <section>
            <p class="teamdesc">“Path: Unknown” is a proud creation of a young and motivated group of new developers.
                It provides most of the content that was absorbed throughout the first semester of the IT course.
                It provides an idea of the potential of programming to create educational and interactive content.
                With a big emphasis on sustainability, exploration and geography knowledge, this game has big potential
                to impact users of all ages. “Path: Unknown” is just on the start of its journey to become more
                and better to everyone who embarks on it.
        </section>
        <section class="members">
                <div class="ricardo">
                    <h3>Ricardo</h3>
                    <figure>
                        <div class="ricardo_img"><img src="../static/img/ricardo.png" alt="octopus backpack"></div>
                    </figure>
                    <p class="ricardodesc">Ricardo is a valuable asset to our web development efforts, contributing not only to the
                        technical aspects but also offering insights that enhance the overall quality and functionality
                        of our web page.</p>
                </div>
                <div class="theo">
                    <h3>Théo</h3>
                    <figure>
                        <div  class="theo_img"><img src="../static/img/theo.png" alt="baby backpack"></div>
                    </figure>
                    <p class="theodesc">A collaborative and communicative personality within our development team.
                        His strength lies not only in his technical skills but also in his ability to foster
                        effective teamwork and clear communication.</p>
                </div>
                <div class="upeksha">
                    <h3>Upeksha</h3>
                    <figure>
                        <div  class="upeksha_img"><img src="../static/img/upeksha.png" alt="lula backpack"></div>
                    </figure>
                    <p class="upekshadesc">With unwavering commitment, she consistently gives 100% of herself to every task and project.
                        Upeksha's work ethic is truly commendable, and her relentless pursuit of excellence sets a
                        high standard of proactivity for the entire team. </p>
                </div>
                <div class="egzon">
                    <h3>Egzon</h3>
                    <figure>
                        <div  class="egzon_img"><img src="../static/img/egzon.png" alt="lula backpack"></div>
                    </figure>
                    <p class="egzondesc">His ability to combine hard work with technical prowess makes him a valuable asset to our
                        web development projects. Egzon's contributions significantly enhance the technical aspects
                        of our work, reflecting his passion for delivering high-quality solutions.</p>
                </div>
                <div class="daniil">
                    <h3>Daniil</h3>
                    <figure>
                        <div  class="daniil_img"><img src="../static/img/daniil.png" alt="lula backpack"></div>
                    </figure>
                    <p class="daniildesc">Daniil is a standout communicator with strong technical skills on our development team.
                        His ability to articulate complex technical concepts and collaborate effectively makes him a
                        key player in our projects.</p>
                </div>
        </section>
    {% endblock %}
</body>
</html>
