<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Path: Unknown</title>
  <link rel="stylesheet" href="../static/css/info.css">
</head>
    <header>
        <nav class="mainNav">

           <div class="mainNav__links-container">
            <a href="home.html" class="mainNav__link">Home</a>
            <a href="tutorial.html" class="mainNav__link">Tutorial</a>
            <a href="game.html" class='start-btn' style="font-family: 'Press Start 2p',sans-serif">Play</a>
            <a href="leaderboard.html" class="mainNav__link">Leaderboard</a>
            <a href="info.html" class="mainNav__link">Credits</a>
            </div>
        </nav>
    </header>
<body>
    {% extends "base.html" %}
    {% block content %}
        <!-- Insert code here -->
        <section>
            <h1>Information</h1>
            <p class="teamdesc">“Path: Unknown” is a proud creation of a young and motivated group of new developers.
                It provides most of the content that was absorbed throughout the first period of the IT course.
                It provides an idea of the potential of programming to create educational and interactive content.
                With a big emphasis on sustainability, exploration and geography knowledge, this game has big potential to
                impact users of all ages. “Path: Unknown” is just on the start of its journey to become more and better to
                everyone who embarks on it.
        </section>
        <section class="members">
            <h2>Members</h2>
                <div class="ricardo">
                    <h3>Ricardo</h3>
                    <figure>
                        <div class="ricardo_img"><img src="Images/army-removebg-preview.png" alt="octopus backpack"></div>
                        <figcaption>Timeless Elegance: Classic Charm</figcaption>
                    </figure>
                    <p>Brings a wealth of technical expertise to the table. His problem-solving skills are top-notch, and he has a keen eye for optimizing code for efficiency and performance. Ricardo is a valuable asset to our web development efforts, contributing not only to the technical aspects but also offering insights that enhance the overall quality and functionality of our web page.</p>
                </div>
                <div class="theo">
                    <h3>Théo</h3>
                    <figure>
                        <div  class="theo_img"><img src="Images/Focal-removebg-preview.png" alt="baby backpack"></div>
                        <figcaption>Embrace the Wild: Camping Essentials</figcaption>
                    </figure>
                    <p>A collaborative and communicative dynamo within our development team. His strength lies not only in his technical skills but also in his ability to foster effective teamwork and clear communication. Théo excels at creating an inclusive and positive work environment, making him an invaluable team player.</p>
                </div>
                <div class="upeksha">
                    <h3>Upeksha</h3>
                    <figure>
                        <div  class="upeksha_img"><img src="Images/US-removebg-preview.png" alt="lula backpack"></div>
                        <figcaption>Army Style: Great Outdoors</figcaption>
                    </figure>
                    <p>With unwavering commitment, she consistently gives 100% of herself to every task and project. Upeksha's work ethic is truly commendable, and her relentless pursuit of excellence sets a high standard for the entire team. Whether faced with challenges or tight deadlines, Upeksha's determination shines through, making her a reliable and indispensable member of our web development efforts. </p>
                </div>
                <div class="egzon">
                    <h3>Egzon</h3>
                    <figure>
                        <div  class="egzon_img"><img src="Images/US-removebg-preview.png" alt="lula backpack"></div>
                        <figcaption>Army Style: Great Outdoors</figcaption>
                    </figure>
                    <p>His ability to combine hard work with technical prowess makes him a valuable asset to our web development projects. Egzon's contributions significantly enhance the technical aspects of our work, reflecting his passion for delivering high-quality solutions.</p>
                </div>
                <div class="daniil">
                    <h3>Daniil</h3>
                    <figure>
                        <div  class="daniil_img"><img src="Images/US-removebg-preview.png" alt="lula backpack"></div>
                        <figcaption>Army Style: Great Outdoors</figcaption>
                    </figure>
                    <p>Daniil is a standout communicator with strong technical skills on our development team. His ability to articulate complex technical concepts and collaborate effectively makes him a key player in our projects. Daniil's proficiency in various skills enhances his contributions to the team's technical aspects, making him a valuable asset.</p>
                </div>
        </section>
    {% endblock %}
</body>
</html>
