<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
        <h1>Tutorial</h1>
        <h2>Introduction</h2>

        <div class="Introduction_text">
            <img src="../img/Tutorial_Picture.jpg" alt="Introduction" class="Introduction_image">
            <p>In this game you will spawn at a random airport, anywhere in the world.
                Your objective is to reach a specific airport in the minimum amount of attempts possible.
                An attempt is counted everytime you reach a different airport.
                Instructions on how to move can be found after starting a game.</p>
        </div>

        <div class="Target_and_Dif">
            <div class="Game_difficulty">
                <img src="../img/Game_difficulty.jpg" alt="Game_Dif" class="Game_Dif_image">
                    <div class="Game_Dif_description">
                        <p>There are three levels in game: Easy, Medium or Hard.</p>
                            <p>This parameter affects the type of airports that appear in your game session.</p>
                             <p> 1. Easy: Only large airports. </p>
                             <p> 2. Medium: Large and medium airports. </p>
                             <p> 3. Hard: Large, medium and small airports. </p>

                    </div>
                </div>
            <div class="Target_distance">
                <img src="../img/Target_distance.jpg" alt="Target_Dis" class="Target_Dis_image">
                <div class="Target_Dis_description">
                    <p>Target Distance: Near, Average or Far.</p>
                    <p>This parameter affects the distance between the starting and the target airports.</p>
                    <p> 1. Near: Between 1,000 and 5,000 kilometers. </p>
                    <p> 2. Average: Between 5,000 and 11,000 kilometers. </p>
                    <p> 3. Far: Above 11,000 kilometers. </p>
                </div>
            </div>
        </div>
    {% endblock %}
</body>
</html>