<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tutorial | Path:Unknown</title>
    <link rel="stylesheet" href="../static/css/tutorial.css">
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
        <p id="space"></p>
        <h2>Introduction</h2>

        <div class="Introduction_text">
            <img src="../static/img/Intro-img.jpg" alt="Introduction" class="Introduction_image">
            <p>In this game you will spawn at a random airport, anywhere in the world.
                Your objective is to reach a specific airport in the minimum amount of attempts possible.
                An attempt is counted everytime you reach a different airport.
                Instructions on how to move can be found after starting a game.</p>
        </div>

        <div class="Target_and_Dif">
            <div class="Game_difficulty">
                <img src="../static/img/level_img.jpg" alt="Game_Dif" class="Game_Dif_image">
                <h2>Game Difficulty</h2>
                    <div class="Game_Dif_description">
                        <p>There are three levels in game: Easy, Medium or Hard.</p>
                        <p> 1. Easy: Only large airports. </p>
                        <p> 2. Medium: Large and medium airports. </p>
                        <p> 3. Hard: Large, medium and small airports. </p>

                    </div>
                </div>
            <div class="Target_distance">
                <img src="../static/img/Dist_img.jpg" alt="Target_Dis" class="Target_Dis_image">
                <h2>Target Distances</h2>
                <div class="Target_Dis_description">
                    <p>Target Distances: Near, Average or Far.</p>
                    <p> 1. Near: Between 1,000 and 5,000 kilometers. </p>
                    <p> 2. Average: Between 5,000 and 11,000 kilometers. </p>
                    <p> 3. Far: Above 11,000 kilometers. </p>
                </div>
            </div>
        </div>
    {% endblock %}
</body>
</html>